<footer class="container text-center mt-5">
   <p class="text-muted">
      <small>
        &copy;{{ 'now'|date('Y') }} &middot;
        Créer avec <span class="text-danger">&hearts;</span>par <a href=
        http://gsportnews.fr>Jean Christophe Gomis</a>
      </small>
   </p>

</footer>