{% extends 'base.html.twig' %}
{% block body %}
<h1>Page introuvable !</h1>
<p>La page demandée est introuvable, verifiez votre orthographe avant de saisir l'URL
  {{ path ('app_home') }}
 </p>

{% endblock %}